/* Global */

:root {
    --tailwind-blue: #4FAFD0;
    --tailwind-navy: #13233E;
    --tailwind-clay: #BFB8AF;
    --tailwind-gray: #D0D2D3;
    --tailwind-white: #E6E7E8;
    --space-between-testimonials: 100px;
}

body {
    line-height: normal;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

#navbar,
#footer {
    padding: 16px 0;
}

#benefits,
#companies,
#process,
#testimonials {
    padding: 80px 0 100px 0;
}

#cta-banner {
    padding: 40px 0;
}

.section-header {
    max-width: 550px;
    text-align: center;
    margin: 0 auto 32px auto;
}

.section-header .title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 8px;
}

.button {
    display: inline-block;
    padding: 12px 32px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    transition: 0.3s all;
}

.button:hover {
    text-decoration: inherit;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}

/* Color Scheme */

.button {
    color: var(--tailwind-navy);
    background-color: var(--tailwind-white);
}

.button:hover {
    color: var(--tailwind-navy);
}

.button:active {
    background-color: var(--tailwind-gray);
}

#navbar {
    background-color: var(--tailwind-blue);
}

#navbar .nav-link {
    color: var(--tailwind-white);
}

#navbar .nav-link:hover {
    color: var(--tailwind-gray);
}

#navbar .navbar-toggler {
    background-color: var(--tailwind-navy);
}

#navbar .navbar-toggler:active {
    background-color: #1e365f;
}

#jumbotron {
    background-color: var(--tailwind-blue);
}

#jumbotron .left .title,
#jumbotron .left .description {
    color: var(--tailwind-navy);
}

#benefits {
    background-color: var(--tailwind-white);
}

#benefits .section-header,
#benefits .benefit .title,
#benefits .benefit .description {
    color: var(--tailwind-navy);
}

#benefits .icon {
    /* icon fill color is set individually in SVG files */
    background-color: var(--tailwind-blue);
}

#companies {
    background-color: var(--tailwind-gray);
}

#companies .section-header {
    color: var(--tailwind-navy);
}

#process {
    background-color: var(--tailwind-white);
}

#process .section-header,
#process .step .title {
    color: var(--tailwind-navy);
}

#process .step .icon {
    background-color: var(--tailwind-blue);
}

#cta-banner {
    background-color: var(--tailwind-navy);
}

#cta-banner .description {
    color: var(--tailwind-white);
}

#testimonials {
    background-color: var(--tailwind-blue);
}

#testimonials .section-header,
#testimonials .testimonial .text,
#testimonials .testimonial .name {
    color: var(--tailwind-navy);
}

#testimonials .testimonial .school {
    color: #6d6d6d;
}

#testimonials .grid .content,
#testimonials .indicators .item.active,
#testimonials .indicators .item:hover {
    background-color: var(--tailwind-white);
}

#testimonials .indicators .item:active {
    background-color: var(--tailwind-gray);
}

#footer {
    color: var(--tailwind-white);
    background-color: var(--tailwind-navy);
}

#footer a {
    color: var(--tailwind-white);
}

#footer a:hover {
    color: var(--tailwind-gray);
}

/* Navbar */

#navbar .navbar-nav {
    text-align: right;
    margin: 0 0 0 auto;
}

#navbar .nav-link {
    padding: 0;
    transition: 0.3s all;
}

#navbar .navbar-toggler {
    transition: 0.3s all;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

#navbar .navbar-toggler:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}

#navbar .navbar-toggler:focus {
    outline: none;
}

#navbar .navbar-toggler img {
    height: 30px;
}

@media (min-width: 768px) {
    #navbar .nav-link {
        margin-left: 48px;
    }
}

@media (max-width: 767px) {
    #navbar .nav-link {
        margin-top: 24px;
    }
}

/* Jumbotron */

#jumbotron .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#jumbotron .title {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 8px;
}

#jumbotron .description {
    font-size: 24px;
    margin-bottom: 24px;
}

@media (min-width: 992px) {
    #jumbotron {
        padding: 40px 0;
    }

    #jumbotron .left {
        width: 440px;
    }

    #jumbotron .right img {
        height: 400px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #jumbotron {
        padding: 80px 0;
    }

    #jumbotron .left {
        width: 400px;
    }

    #jumbotron .right img {
        height: 300px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #jumbotron {
        padding: 80px 0;
    }

    #jumbotron .left {
        width: 300px;
    }

    #jumbotron .title {
        font-size: 36px;
    }

    #jumbotron .description {
        font-size: 20px;
    }

    #jumbotron .right img {
        height: 230px;
    }
}

@media (max-width: 575px) {
    #jumbotron {
        padding: 80px 0;
    }

    #jumbotron .container {
        display: block;
        text-align: center;
    }

    #jumbotron .left {
        margin: 0 auto;
    }

    #jumbotron .right {
        margin-top: 64px;
    }

    #jumbotron .right img {
        height: auto;
        width: 80%;
    }
}

@media (max-width: 430px) {
    #jumbotron .title {
        font-size: 36px;
    }

    #jumbotron .description {
        font-size: 16px;
    }
}

@media (min-width: 376px) {
    #navbar .logo {
        height: 60px;
    }
}

@media (max-width: 375px) {
    #navbar .logo {
        width: 200px;
    }
}

/* Benefits */

#benefits .grid {
    display: grid;
    grid-gap: 32px;
}

#benefits .grid .benefit {
    display: flex;
}

#benefits .grid .benefit .right {
    flex-grow: 1;
    margin-left: 16px;
}

#benefits .grid .benefit .title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 4px;
}

#benefits .icon {
    height: 64px;
    width: 64px;
    padding: 16px;
    border-radius: 50%;
}

@media (min-width: 992px) {
    #benefits .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #benefits .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    #benefits .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Companies */

#companies .grid {
    display: grid;
    grid-row-gap: 32px;
}

#companies .grid .company {
    display: flex;
    align-items: center;
}

#companies .grid .company img {
    width: 100%;
    max-height: 80px;
}

@media (min-width: 768px) {
    #companies .grid {
        grid-column-gap: 64px;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #companies .grid {
        grid-column-gap: 64px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 575px) {
    #companies .grid {
        grid-column-gap: 32px;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Process */

#process .grid {
    display: grid;
}

#process .grid .step {
    text-align: center;
}

#process .step .icon {
    width: 64px;
    height: 64px;
    padding: 16px;
    border-radius: 50%;
    margin: 0 auto 8px auto;
}

@media (min-width: 768px) {
    #process .grid {
        grid-gap: 32px;
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 450px) and (max-width: 767px) {
    #process .grid {
        grid-gap: 32px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 449px) {
    #process .grid {
        grid-gap: 32px 16px;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* CTA Banner */

#cta-banner {
    text-align: center;
}

#cta-banner .description {
    font-size: 24px;
    margin: 0 auto;
    max-width: 700px;
    margin-bottom: 24px;
}

/* Testimonials */

#testimonials .grid .testimonial,
#testimonials .indicators {
    margin: 0 auto;
}

#testimonials .grid .content,
#testimonials .indicators {
    width: 100%;
}

#testimonials .grid-outer {
    position: relative;
    overflow: hidden;
    margin-bottom: 26px; /* -6px, which is included in the height (due to box-shadow) */
    width: calc(100% + 8px); /* 4px for each side due to box-shadow */
    left: -4px;
    transition: 0.3s all;
}

#testimonials .grid {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform 0.5s ease 0s;
}

#testimonials .grid .content {
    display: flex;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

#testimonials .grid .testimonial {
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    position: absolute;
    padding: 0 4px;
}

#testimonials .testimonial .image {
    margin-right: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#testimonials .testimonial:nth-child(1) .image {
    background-image: url("images/kendra.jpg");
}

#testimonials .testimonial:nth-child(2) .image {
    background-image: url("images/eduardo.jpg");
}

#testimonials .testimonial:nth-child(3) .image {
    background-image: url("images/saksham.jpg");
}

#testimonials .testimonial .right .text {
    margin-bottom: 16px;
}

#testimonials .indicators {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: repeat(3, 1fr);
}

#testimonials .indicators .item {
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    transition: 0.3s all;
    cursor: pointer;
}

#testimonials .indicators .item.active,
#testimonials .indicators .item:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

#testimonials .indicators .item img {
    width: 100%;
    max-height: 50px;
}

#testimonials .grid .testimonial:nth-of-type(1) {
    transform: translateX(calc(calc(100% + var(--space-between-testimonials)) * 0));
}

#testimonials .grid .testimonial:nth-of-type(2) {
    transform: translateX(calc(calc(100% + var(--space-between-testimonials)) * 1));
}

#testimonials .grid .testimonial:nth-of-type(3) {
    transform: translateX(calc(calc(100% + var(--space-between-testimonials)) * 2));
}

@media (min-width: 768px) {
    #testimonials .container {
        max-width: 720px;
    }

    #testimonials .testimonial .image {
        width: 225px;
        height: 225px;
    }
}

@media (max-width: 767px) {
    #testimonials .grid .testimonial .content {
        display: block;
    }

    #testimonials .grid .testimonial .image {
        width: 150px;
        height: 150px;
        margin: 0 auto 16px auto;
    }
}

@media (max-width: 575px) {
    #testimonials .grid-outer {
        overflow: auto;
        margin: 0;
        width: 100%;
        left: 0;
    }

    #testimonials .grid-outer,
    #testimonials .grid,
    #testimonials .grid .testimonial {
        position: inherit;
    }

    #testimonials .grid .testimonial {
        transform: none !important;
    }

    #testimonials .grid .testimonial:not(:last-child) {
        margin-bottom: 32px;
    }

    #testimonials .indicators {
        display: none;
    }
}

/* Footer */

#footer {
    position: relative;
}

#footer .logo,
#footer .container {
    height: 40px;
}

#footer .logo {
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}

#footer a {
    text-decoration: inherit;
    transition: 0.3s all;
}

@media (min-width: 500px) {
    #footer .logo {
        top: 50%;
    }

    #footer .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 499px) {
    #footer .logo {
        top: 36px; /* 20px (half the height of logo) + 16px (top padding of container) */
    }

    #footer .container {
        display: block;
        margin-top: 48px;
        text-align: center;
    }
}
